html,
body,
app-root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
	border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  overflow-x: hidden;
}

.highlight {
  color: var(--primary);
}