<nav class="container-fluid">
  <ul>
    <li class="title" routerLink="/">
      <img src="assets/img/logo-dark.png" alt="" />
      <strong>Pokedex</strong>
    </li>
  </ul>
  <ul>
    <li>
      <div id="menuToggle" [ngClass]="menuActive ? 'active' : ''">
        <input type="checkbox" (click)="toggleMenu()" (clickOutside)="menuActive = false"/>
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <div *ngIf="isStartPages()" class="startPages">
            <a><li routerLink="/sign-in">Connexion</li></a>
            <a><li routerLink="/sign-up">Inscription</li></a>          
          </div>
          <div *ngIf="!isStartPages()" class="homePages">
            <a 
              tabindex="0" 
              (click)="signOutClick()"
              (keypress)="signOutClick()"
            >
              <li>Déconnexion 👋</li>
            </a>
          </div>
        </ul>
      </div>
    </li>
  </ul>
</nav>
