<nav class="container-fluid">
  <ul>
    <li class="title" [routerLink]="isAuth ? '/home': '/'">
      <img [src]="logo" alt="" />
      <strong>Pokedex</strong>
    </li>
  </ul>
  <ul>
    <li class="dark-mode" tabindex="0" (click)="togleDarkMode()" (keypress)="togleDarkMode()">
      <img [ngClass]="darkMode ? 'dark': 'light'" src="assets/img/header/dark-theme.svg" alt="dark-theme" height="30px" width="25px">
    </li>
    <li>
      <div id="menuToggle" [ngClass]="menuActive ? 'active' : ''">
        <input type="checkbox" (click)="toggleMenu()" (clickOutside)="menuActive = false"/>
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <div *ngIf="!isAuth" class="startPages">
            <a><li routerLink="/sign-in">Connexion</li></a>
            <a><li routerLink="/sign-up">Inscription</li></a>          
          </div>
          <div *ngIf="isAuth" class="homePages">
            <a 
              tabindex="0" 
              (click)="signOutClick()"
              (keypress)="signOutClick()"
            >
              <li>Déconnexion 👋</li>
            </a>
          </div>
        </ul>
      </div>
    </li>
  </ul>
</nav>
