<!-- Pagination -->
<div class="pagination">
  <input 
    type="button" 
    [value]="1" 
    (click)="pageChanged(1)" 
    class="page-btn" 
    [ngClass]="{'active': pagination.currentPage === 1}">
  <input class="page-btn" type="button" disabled [hidden]="pagination.currentPage <= pagination.lastPage - 2" value="...">
  <input 
    type="button" [value]="pagination.middlePages[0]" 
    (click)="pageChanged(pagination.middlePages[0])" 
    class="page-btn" 
    [ngClass]="{'active': pagination.currentPage === pagination.middlePages[0]}" >
  <input 
    [disabled]=" pagination.currentPage === pagination.middlePages[1]" 
    type="button" 
    [value]="pagination.middlePages[1]" 
    (click)="pageChanged(pagination.middlePages[1])" 
    class="page-btn" 
    [ngClass]="{'active': pagination.currentPage === pagination.middlePages[1]}">
  <input
    [hidden]="pagination.currentPage < 3 || pagination.currentPage > pagination.lastPage - 2"
    type="button" 
    [value]="pagination.middlePages[2]" 
    (click)="pageChanged(pagination.middlePages[2])" 
    class="page-btn"
    [ngClass]="{'active': pagination.currentPage === pagination.middlePages[2]}">
  <input class="page-btn" type="button" disabled [hidden]="pagination.currentPage >= 3" value="...">
  <input 
    type="button" [value]="pagination.lastPage" 
    (click)="pageChanged(pagination.lastPage)"
    class="page-btn"
    [ngClass]="{'active': pagination.currentPage === pagination.lastPage}">
  
</div>

