.filter{
  display: flex;
  flex-direction: row;
  margin-top: 89px;
  padding-bottom: 2vh;
  border-bottom: 2px solid var(--muted-border-color);
  #search{
    margin: 0 3vw 0 0;
    width: calc(100% - 3vw - 50px);
  }
  .filter-btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0;
    border-color: var(--form-element-border-color);
  }
}

.pokemon-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}