<div class="sign-container">
  <h1>Sign up</h1>
  <form>
    <input
      #email
      type="email"
      name="email"
      placeholder="Email"
      aria-label="email"
      autocomplete="email"
      required
    />
    <input
      #password
      type="password"
      name="password"
      placeholder="Password"
      aria-label="Password"
      autocomplete="current-password"
      required
    />
    <fieldset>
      <span style="margin-right: 1em;">Already have an account?</span>
      <a routerLink="/sign-in">Sign in →</a>
    </fieldset>
    <button
      type="submit"
      class="contrast"
      (click)="signUp(email.value, password.value)"
    >
      Sign up
    </button>
  </form>
</div>
