<div class="sign-container">
  <h1>Inscription</h1>
  <form>
    <input
      #email
      type="email"
      name="email"
      placeholder="Email"
      aria-label="email"
      autocomplete="email"
      required
    />
    <input
      #password
      type="password"
      name="password"
      placeholder="Mot de passe"
      aria-label="Password"
      autocomplete="current-password"
      required
    />
    <fieldset *ngIf="error !== null">
      <span class="errorMessage">{{ error }}</span>
    </fieldset> 
    <fieldset>
      <span style="margin-right: 1em;">Vous avez déjà un compte ?</span>
      <a routerLink="/sign-in">Connexion→</a>
    </fieldset>
    <button
      type="button"
      [attr.aria-busy]="loading"
      (click)="signUp(email.value, password.value)"
    >
      {{ signUpButtonText }}
    </button>
  </form>
</div>
