<div class="sign-container">
  <h1>Connexion</h1>
  <form>
    <input
      #email
      type="text"
      name="email"
      placeholder="Email"
      aria-label="email"
      autocomplete="email"
      required
    />
    <input
      #password
      type="password"
      name="password"
      placeholder="Mot de passe"
      aria-label="Password"
      autocomplete="current-password"
      required
    />
    <!-- <fieldset>
      <label for="remember">
        <input type="checkbox" role="switch" id="remember" name="remember" />
        Se souvenir de moi
      </label>
    </fieldset> --> 
    <button
      #submitButton
      type="button"
      class="contrast"
      [attr.aria-busy]="loading"
      (click)="signInBtnClik(email.value, password.value)"
    >
      {{ signInButtonText }}
    </button>
    <fieldset>
      <span style="margin-right: 1em;">Pas encore inscrit ?</span>
      <a routerLink="/sign-up">Inscription</a>
    </fieldset>
  </form>
</div>
