<div class="authBlock">
    <h3>Sign In</h3>
    <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userEmail required />
    </div>
    <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required />
    </div>

    <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Sign Up" (click)="
          authenticationService.SignIn(userEmail.value, userPassword.value)
        " />
    </div>
</div>