<div class="sign-container">
  <h1>Connexion</h1>
  <form>
    <input
      #email
      type="text"
      name="email"
      placeholder="Email"
      aria-label="email"
      [attr.aria-invalid]="error ? true : null"
      autocomplete="email"
      required
    />
    <input
      #password
      type="password"
      name="password"
      placeholder="Mot de passe"
      aria-label="Password"
      [attr.aria-invalid]="error ? true : null"
      autocomplete="current-password"
      required
    />
    <fieldset *ngIf="error !== null">
      <span class="errorMessage">{{ error }}</span>
    </fieldset> 
    <button
      #submitButton
      type="button"
      [attr.aria-busy]="loading"
      (click)="signInBtnClik(email.value, password.value)"
    >
      {{ signInButtonText }}
    </button>
    <fieldset>
      <span style="margin-right: 1em;">Pas encore inscrit ?</span>
      <a routerLink="/sign-up">Inscription</a>
    </fieldset>
  </form>
</div>
