:host{
  width: 104px;
  margin: 5px;
  padding: 0.5em;
  border-radius: var(--border-radius);
  background: var(--card-background-color);
  box-shadow: 1px 2px 3px black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.pokemon-id{
  font-size: 0.8em;
  color: var(--muted-text-color);
  text-align: right;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.pokemon-name{
  color: var(--text-color);
  text-align: center;
  word-wrap: normal;
}

.types-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0px;
  img{
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.1em;
  }
}

.no-catched{
  filter: grayscale(100%);
}

.catched{
  filter: drop-shadow(2px 4px 6px black);
}